.button{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-max-width: 400;
    -fx-cursor: hand;
}
.button:hover{
    -fx-background-color: #7109AA;
}
.button:pressed{
    -fx-background-color: #5F2580;
}

.elem{
	-fx-background-color: #9F3ED5;
	-fx-border-color: #48036F;
    -fx-border-width: 2;
    -fx-min-width: 100;
    -fx-pref-height: 35;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-font-size: 14;
}
.input{
    -fx-prompt-text-fill: #7109AA;
    -fx-cursor: text;
}
.text{
    -fx-text-fill: #48036F;
    -fx-font-family: Arial Black;
}
.title{
    -fx-font-size: 24;
    -fx-padding: 15px;
}
.title2{
    -fx-font-size: 14;
}
.background{
    -fx-background-color: #9F3ED5;
}
.slider{
    -fx-min-width: 100;
}