@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <br /><a href="Photos">Photos</a>
    <br /><a href="Users">Users</a>
    <br /><a href="Interactions">Interactions</a>
    <br /><a href="Chats">Chats</a>
</div>
