<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Что-то пошло не так...</h1>
    <p>Код ошибки: <span th:text="${status}"></span></p>
    <p>Сообщение: <span th:text="${error}"></span></p>
    <p>Причина: <span th:text="${message}"></span></p>
    <p>Путь: <span th:text="${path}"></span></p>
    <a href="/students">Список студентов</a>
</body>
</html>